table{
    border-collapse: collapse;
    width: 40%;
}
th{
    background-color: lightblue;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even){
    background-color: lightgray;
}
.btn{
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
}
.btn:hover{
    box-shadow: 2px 2px 2px #888888;
}
#btn-create{
    margin-bottom: 10px;
    background-color: green;
}
