<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
  <h1>Person list</h1>

    <a href="/create">
        <button class="btn-create, btn" id="btn-create">Create a new person</button>
    </a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person: ${persons}">
                <td th:text="${person.id}"/>
                <td th:text="${person.first_name}"/>
                <td th:text="${person.last_name}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>